
@model Araba


<p>Veri Aktarım Sayfası</p>

<h4>@Model.Marka</h4>
<h4>@Model.Model</h4>
<h4>@Model.ModelYili</h4>
<h4>@Model.Renk</h4>

<h5>@ViewBag.mesaj</h5>
<h5>@ViewBag.sayfaSayisi</h5>
<hr />


<h2>@ViewBag.araba2.Id</h2>
<h2>@ViewBag.araba2.Marka</h2>
<h2>@ViewBag.araba2.Model</h2>


